<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 这个上下文使用命名空间实现同样的功能 -->
    <bean id="loginService" class="com.damon4u.aop.service.impl.LoginServiceImpl"/>

    <bean id="logAdvice" class="com.damon4u.aop.advisor.LogAdvice"/>
    <bean id="logAdvice1" class="com.damon4u.aop.advisor.LogAdvice1"/>

    <aop:config>
        <aop:pointcut id="annotationPointcut" expression="@annotation(com.damon4u.aop.annotation.Log)"/>
        <aop:advisor advice-ref="logAdvice" pointcut-ref="annotationPointcut"/>
        <aop:advisor advice-ref="logAdvice1" pointcut-ref="annotationPointcut"/>
    </aop:config>
</beans>